# .coveragerc to control coverage.py
[run]
branch = True
omit =
    src/test/*.py
    src/test/*/*.py
    src/test/*/*/*.py
    src/analyzer_fixer.py

[report]
exclude_lines =
    if __name__ == .__main__.: