fastapi==0.100.0
httpx==0.24.1
itsdangerous==2.1.2
Jinja2==3.1.2
mock==5.0.2
python-multipart==0.0.6
pytest==7.4.0
pytest-cov==4.1.0
requests==2.31.0
starlette==0.27.0
uvicorn==0.22.0
wheel==0.40.0
xmltodict==0.13.0