anyio==3.6.2
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
exceptiongroup==1.0.4
fastapi==0.88.0
h11==0.14.0
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
memory_profiler=0.61.0
path==16.5.0
pluggy==1.0.0
psutil==5.9.4
pydantic==1.10.2
pytest==7.2.0
python-multipart==0.0.5
PyYAML==6.0
requests==2.28.1
rfc3986==2.0.0
setuptools==65.6.3
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.20.0
watchfiles==0.18.1
websockets==10.4
wheel==0.38.4
xmltodict==0.13.0