{% extends "base.html" %}

{% block content %}

<div class="row">
    <p>This tool was made by Attila Kun by using/reconstructing the base-logic of existing tools(<a href="https://josm.openstreetmap.de/">JOSM</A> and <a href="https://ra.osmsurround.org/">OSM Relation Analyzer</a>) and graph theory.</p>
    <p>The tool has its roots at <a
            href="https://wiki.openstreetmap.org/wiki/Hungary/Szersz%C3%A1mzat#Rel%C3%A1ci%C3%B3_szakad%C3%A1s_ellen%C5%91rz%C5%91">OSM
        Wiki/Hungary/Szerszámzat#Reláció szakadás ellenőrző</a>.</p>
    <p>The project's repo is available at: <a href="https://github.com/attilakundev/osm-rcaf">https://github.com/attilakundev/osm-rcaf</a></p>

    <h2>How to use it?</h2>
    <p>To use it, you need to supply a relation ID (eg. <a href="https://osm.org/relation/67157">
        67157</a>), or you upload a file where you supply the relation ID to be searched for.</p>
    <p>When analyzing is done, then you can self evaluate the result and fix the relation with
        this tool. Right now it only supports resupplying XML file, but the starting way can be
        chosen from a list.</p>
    <p>When the correction is done, then the xml file gets downloaded on your PC. If you want
        it, you can head to the compare page (see the navbar) to let your original xml compared
        to your corrected one, and then see the result.</p>


</div>
{% endblock %}
