html, body{
       background-color: rgb(6, 50, 6);
       color: gold;
       font-family:'Franklin Gothic Medium', Arial, sans-serif;
       width: 60%;
       margin: auto;
    }
    a{
        background-color: goldenrod;
        border-radius: 2px;
        padding: 2px;
    }
  nav {
    background: linear-gradient(to right, rgba(48,96,48, 1) 0%, transparent 100%);
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 3px solid #242;
    padding: 10px;
  }
.navbarlogin{
  list-style: none;
  display: flex;
  padding: 5px;
}
.error{
  background:linear-gradient(to right, maroon, rgba(78,12,100,0.2));
  border: 2px solid black;
  border-radius: 5px;
  line-height: 1.5
}
.info{
  background:linear-gradient(to right, #b48800, rgba(78,233,0,0.1));
  border: 2px solid black;
  border-radius: 5px;
}
input[type=submit], button{
        background: goldenrod;
        font-family:'Franklin Gothic Medium', Arial, sans-serif;
        color:black;
        border: 2px white solid;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
}
main{
  display: flex;
  justify-content: space-evenly;
}
main div{
  margin:5px;
}
.greenborder{
  border: 5px ridge #242;
}
.break-line {
  flex-basis: 100%;
  width: 0;
}
ul li{
  float:left;
}