{% extends "base.html" %}

{% block content %}

<div class="row">
    <p>This tool was made by Attila Kun by using/reconstructing the base-logic of existing tools(<a href="https://josm.openstreetmap.de/">JOSM</A> and <a href="https://ra.osmsurround.org/">Relation Analyzer) and graph theory.</a></p>
    <p>The tool has its roots at <a
            href="https://wiki.openstreetmap.org/wiki/Hungary/Szersz%C3%A1mzat#Rel%C3%A1ci%C3%B3_szakad%C3%A1s_ellen%C5%91rz%C5%91">OSM
        Wiki/Hungary/Szerszámzat#Reláció szakadás ellenőrző</a>.</p>
    <p>The project's repo is available at: <a href="https://github.com/attilakundev/osm-rcaf">https://github.com/attilakundev/osm-rcaf</a> (It's private as of now - due to thesis reasons)</p>


</div>
{% endblock %}