<!DOCTYPE html>
<html>

<head>
  <title>OSM Relation Continuity Analyzer and Fixer</title>
  <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>

<body>
  <nav>
    <h2>OSM Relation Continuity Analyzer and Fixer</h2>
    <ul class="navbarlogin">
      <!-- If there is some buttons we want to press there is the place for here -->
    </ul>
  </nav>
  <main class="greenborder">
    {% block content %} {% endblock %}
  </main>
</body>

</html>