{% extends "base.html" %}

{% block content %}
<div style="flex-basis: 20%; background:#242;">
    <div> <!-- This is the area where you can give an OSM relation ID -->
        <p><u>If you want to retrieve a relation from OSM DB:</u></p>
        <form method="post" action="/analyze">
            <p>Relation ID</p>
            <input type="number" name="relation_id" placeholder="Please enter the rel. ID.">
            <input type="submit" value="Analyze">
        </form>
    </div>
    <div> <!-- This is the area where you can upload a file and analyze that -->
        <p><u>If you want to analyze a file:</u></p>
        <form method="post" enctype="multipart/form-data" action="/analyze_file">
            <input type="file" name="relation_file">
            <p>Relation ID</p>
            <input type="number" name="relation_id" placeholder="Please enter the ID.">
            <input type="submit" name="relUpload" value="Analyze">
        </form>
    </div>
    <div> <!-- Debug mode's button -->
        <p>Debug mode:</p>
        {% if debug_mode == False %}
        <a href="/debug_mode">Turn on</a>
        {% elif debug_mode == True %}
        <a href="/debug_mode">Turn off</a>
        {% endif %}
    </div>
</div>
<div style="flex-basis: 70%;">
    <!-- Link for the fixing and choosing the starting way from it -->
    {% if sorted_ways_list|length > 1 %}
        <p>Errors have been found, please choose a starting way, and the relation will be fixed:</p>
        <form method="post" action="/fix">
            <select name="first_way">
                {% for way in sorted_ways_list %}
                <option>{{way}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Fix">
        </form>
    {% endif %}
    <!-- Printing error messages -->
    {% for length_of_array, error in error_messages %}
    {% for index, line in error %}
        {% if "ERROR" in line and index == 1 %}
        {% autoescape false %} <!-- if we didn't use this, then it would literally print out the tags.. -->
            <p class="error">{{ line | replace("[ERROR]", "<b>[ERROR]</b>") }}
        {% endautoescape %}
        {% elif index == 1 %}
            <p>{{ line }}
        {% elif "Previous way's" in line %}
            <br><br>{{ line }}
        {% elif index == length_of_array - 1 %}
            {{ line }}
        {% else %}
        <br>{{ line }}
        {% endif %}
    {% endfor %}
    </p>
    {% endfor %}
</div>
{% endblock %}