{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3 p-3">
            <!-- This is the area where you can give an OSM relation ID -->
            <p><b>If you want to retrieve a relation from OSM DB:</b></p>
            <form method="post" action="/analyze">
                <p>Relation ID</p>
                <input type="number" class="form-control" name="relation_id"
                       placeholder="Please enter the relation ID." required>
                <br>
                <input type="submit" class="form-control form-control-dark" value="Analyze">
            </form>
        </div>
        <p></p>
        <div class="text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3 p-3">
            <!-- This is the area where you can upload a file and analyze that -->
            <p><b>If you want to analyze a file:</b></p>
            <form method="post" enctype="multipart/form-data" action="/analyze_file">
                <input type="file" class="form-control" name="relation_file">
                <br>
                <p>Relation ID</p>
                <input type="number" class="form-control" name="relation_id" placeholder="Please enter the relation ID." required>
                <br>
                <input type="submit" class="form-control" name="relUpload" value="Analyze">
            </form>
        </div>
        <p></p>
        <div class="text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3 p-3">
            <!-- Debug mode's button -->
            <p>Debug mode:</p>
            <form action="/debug_mode">
                {% if debug_mode == False %}
                <input type="submit" class="form-control" name="relUpload" value="Turn on">
                {% elif debug_mode == True %}
                <input type="submit" class="form-control" name="relUpload" value="Turn off">
            </form>
            {% endif %}
        </div>
        <br>
    </div>
    <div class="col-lg-8">
        <br>
        <!-- Link for the fixing and choosing the starting way from it -->
        {% if sorted_ways_list|length > 1 %}
        <p class="alert alert-danger">Errors have been found, please choose a starting way and
            resupply/download the relation file from the API to have it repaired:</p>
        <form method="post" enctype="multipart/form-data" action="/fix"
              class="text-dark-emphasis bg-dark-subtle border border-dark-subtle rounded-3 p-3 w-25">
            <input type="file" class="form-control" name="relation_file">
            <select name="first_way" class="form-control">
                {% for way in sorted_ways_list %}
                <option>{{way}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Fix" class="form-control">
            <br>
        </form>
        {% endif %}
        {% if coordinates|length > 1 %}
        <div id="map"></div>
        {% endif %}
        <!-- Printing error messages -->
        {% for error in error_messages %}
            {% for line in error %}
                {% if "This relation has no errors and gaps at all." in line %}
                    <p class="alert alert-success">{{line}}
                {% elif "ERROR" in line and loop.index0 == 1 or "This relation has" in line %}
                    {% autoescape false %} <!-- if we didn't use this, then it would literally print out the tags.. -->
                    <p class="alert alert-danger">{{ line | replace("[ERROR]", "<b>[ERROR]</b>") }}
                    {% endautoescape %}
                {% elif "Link of the relation" in line or "[Relation #" in line or "XML file" in line %}
                    {% autoescape false %}
                    <p class="alert alert-info" style="font-family: Courier New">{{line}}
                    {% endautoescape %}
                {% elif loop.index0 == 1 %}
                    {% autoescape false %}
                    <p>{{ line }}
                    {% endautoescape %}
                {% elif "Previous way's" in line %}
                    {% autoescape false %}
                    <br><br>{{ line }}
                    {% endautoescape %}
                {% elif loop.index == error|length %}
                    {% autoescape false %}
                    {{ line }}
                    {% endautoescape %}
                {% else %}
                    {% autoescape false %}
                    <br>{{ line }}
                    {% endautoescape %}
                {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    </div>
</div>

<script>
    {% if coordinates|length > 0 %}
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var latlngs = {{coordinates|safe}}
    var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
    map.fitBounds(polyline.getBounds());
    {% endif %}
</script>
{% endblock %}

